@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Oswald:wght@400;500&display=swap');

h1,
h2,
h3,
.cool-letter {
    font-family: 'Black Ops One', cursive;
}

p,
.normall {
    font-family: 'Share Tech Mono', monospace;
    ;

}



.bg-primary {
    background-color:
        #e1fffd !important;
}

#logo {
    max-height: 150px;
}

.bg-image {
    background-image: url(../../assets/images/bacground.jpg);
}