@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Oswald:wght@400;500&display=swap');

h1,
h2,
h3,
.cool-letter {
    font-family: 'Black Ops One', cursive;
}

p,
.normall {
    font-family: 'Share Tech Mono', monospace;
}

.bg-primary {
    background-color:
        #e1fffd !important;
}

#logo {
    max-height: 150px;
}

.max-height {
    max-height: 30vh
}

.max-width {
    max-width: 600px
}

.nav-link:focus,
.nav-link:hover {
    color: var(--bs-nav-link-hover-color);
    text-decoration: underline;
}

#game-grid {
    height: 30vw;
    width: 30vw;
    min-width: 300px;
    min-height: 300px;
    max-width: 700px;
    max-height: 700px;
    border: solid rgb(0, 0, 0);
}
